.c5 {
    background-color: #f4cccc;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: italic
}

.c7 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: italic
}

.c6 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c11 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Arial";
    font-style: normal
}


.c10 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline
}

.c14 {
    background-color: #ffffff;
    max-width: 451.5pt;
    padding: 72pt 72pt 72pt 72pt
}

.c8 {
    color: inherit;
    text-decoration: inherit
}

.c16 {
    font-style: italic
}

.c12 {
    font-weight: 700
}

.c3 {
    background-color: #ffe599
}

.c15 {
    background-color: #f4cccc
}

.c2 {
    background-color: #9fc5e8
}

.c9 {
    background-color: #fff2cc
}

.c13 {
    background-color: #b6d7a8
}
