@media (min-width: 481px) {
  .article main {
    column-count: 2;
    column-gap: 7rem;
  }
}

@media (not print) {
  .onlyPrint {
    display: none;
  }
}

@media print {
  .noPrint {
    display: none;
  }
}

